.main_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button_content{
    height: 10vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button_content button{
    background-color: rgb(18, 26, 56);
    color: #ffffff;
    margin-right: 20px;
}
#carIcon{
    font-size: 1.2rem;
    background-color: transparent !important;
}

.card_container{
    width: 30vw;
    height: 400px;
    margin: 0 15px 20px 0;
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0px 0px 5px rgb(37, 37, 37);
    overflow-y: scroll;
}
.card_container h2{
    font-size: 1rem;
    text-align: center;
}

.content_img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card_container img{
    width: 70px;
    margin: 15px 0;
}

.content_id_price,
.content_rate_price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    width: 90%;
    margin: 0 auto;
}
.content_id_price p{
    color: rgb(21, 255, 0);
    font-size: 1.5rem;
    font-weight: bolder;
}

.content_category{
    width: 90%;
    margin: 0 auto;
}
.content_category p{
    color: rgb(23, 23, 23);
}

.content_description p{
    font-size: 0.65rem;
}
